<h1 class="page-title">Seasonal products</h1>
<div>
  <div class="row">
    <%= for product <- @seasonal_products do %>
      <div class="col-md-4">
        <%= render Mango.Web.ProductView, "product_card.html", product: product %>
      </div>
    <% end %>
  </div>
</div>
